{% extends "layouts/default.html" %}

{% block title %}Moje oceny{% endblock %}

{% block nav_links %}
    {% include "student/nav_links.html" %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Extranet</a>
            </li>
            <li class="breadcrumb-item active">
                Moje oceny
            </li>
        </ol>
    </nav>
    <div class="mt-4">
        {% if courses %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="w-50">Nazwa przedmiotu</th>
                        <th scope="col" class="w-25">Wykładowca</th>
                        <th scope="col" class="w-25">Ocena końcowa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ course.name }}<br />
                            </td>
                            <td>
                                <a href="{% url 'viewTeacherProfile' course.teacher.id %}">
                                    {{ course.teacher.user.get_full_name }}
                                </a>
                            </td>
                            <td>
                                {% if grades %}
                                    {% for grade in grades %}
                                        {% if grade.course.id == course.id %}
                                            {% include "common/grade.html" with value=grade.value %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="px-5 text-center">Brak ocen w systemie.</div>
        {% endif %}
    </div>
{% endblock %}
