{% extends "layouts/default.html" %}

{% block title %}Moje oceny{% endblock %}

{% block nav_links %}
    {% include "student/nav_links.html" %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Extranet</a>
            </li>
            <li class="breadcrumb-item active">
                Moje oceny
            </li>
        </ol>
    </nav>
    {% for instance in grades %}
        <p>{{ instance.student.user.username }}  {{ instance.course.name }}</p>
    {% endfor %}
{% endblock %}
