{% extends "layouts/default.html" %}

{% block title %}Profil studenta{% endblock %}

{% block nav_links %}
    {% include "teacher/nav_links.html" %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Extranet</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'teacherCourses' %}">Moje przedmioty</a>
            </li>
            <li class="breadcrumb-item active">
                Profil studenta
            </li>
        </ol>
    </nav>
    <h2 class="border-1 border-bottom border-primary pb-3">Dane studenta</h2>
    {% include "student/personal_data.html" with student=student %}
{% endblock %}
