{% extends "layouts/simple.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nazwa użytkownika:</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Hasło:</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="d-flex">
            <button type="submit" class="w-100 btn btn-primary">Zaloguj się</button>
        </div>
    </form>
{% endblock %}
