{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <title>{% block title %}{% endblock %} | Extranet</title>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header class="navbar navbar-light bg-primary bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase text-white" href="{% url 'home' %}">Extranet</a>
            <nav class="nav">
                {% block nav_links %}{% endblock %}
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </nav>
        </div>
    </header>

    <main class="container-lg my-4">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>
</html>
