{% extends "layouts/default.html" %}

{% block title %}Moje przedmioty: {{ course.name }} ({{ course.student_group.name }}){% endblock %}

{% block nav_links %}
    {% include "teacher/nav_links.html" %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Extranet</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'teacherCourses' %}">Moje przedmioty</a>
            </li>
            <li class="breadcrumb-item active">
                {{ course.name }} ({{ course.student_group.name }})
            </li>
        </ol>
    </nav>
    <h2 class="border-1 border-bottom border-primary pb-3">
        {{ course.name }} &raquo; {{ course.student_group.name }}
    </h2>
    <div class="mt-4">
        {% if students %}
            <form action="{% url 'teacherCourseUpdate' course.id %}" method="post">
                {% csrf_token %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="w-25">Numer indeksu</th>
                            <th scope="col" class="w-25">Imię i nazwisko</th>
                            <th scope="col" class="w-25">Ocena końcowa</th>
                            <th scope="col" class="w-25">Nowa ocena</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ student.index }}</td>
                                <td>
                                    <a href="{% url 'viewStudentProfile' student.index %}">
                                        {{ student.user.get_full_name }}
                                    </a>
                                </td>
                                <td>
                                    {% for grade in student_grades %}
                                        {% if grade.student.id == student.id %}
                                            {% include "common/grade.html" with value=grade.value %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" name="student_grade_{{ student.id }}">
                                        <option value="0">---</option>
                                        {% for grade_value, grade_label in grades %}
                                            <option value="{{ grade_value }}">{{ grade_label }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                <button class="btn btn-success text-uppercase">Zapisz zmiany</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        {% else %}
            <div class="px-5 text-center">Brak prowadzonych przedmiotów.</div>
        {% endif %}
    </div>
{% endblock %}
