{% extends "layouts/default.html" %}

{% block title %}Panel wykładowcy{% endblock %}

{% block nav_links %}
    {% include "teacher/nav_links.html" %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Extranet
            </li>
        </ol>
    </nav>
    <h2 class="border-1 border-bottom border-primary pb-3">Moje dane</h2>
    {% include "teacher/personal_data.html" with teacher=teacher %}
{% endblock %}
